vbody {
   background: rgb(10,10,10,1);
}    

/* navbar */
.navbar .container {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}

.navbar .container a {
    padding-left: 30px;
    font-size: 1.3em;
    color: #fff;
    font-family: Tahoma;
    font-weight: 300;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.navbar .container img {
    height: 40px;
    width: auto;
}

.navbar .container a:hover {
    opacity: .6;
    text-shadow: 0 0 5px limegreen;
}

/* user card */
.card .user {
    display: block;
    margin: 150px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    
}

.card .user h1 {
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    padding-bottom: 0;
}

.card .user p {
    margin: -20px auto;
    padding-top: 0;
    opacity: .7;
    color: #fff;
    overflow: hidden;
    font-weight: 100;
    padding-bottom: 60px;
    font-size: 1em;
}

.card .user span {
    color: transparent;
    background: linear-gradient(to right, green, blue);
    background-clip: text;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card .user a {
    color: white;
    padding: 10px 10px 10px 10px;
    background: black;
    border: 2px solid white;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.card .user a:hover {
    background: white;
    color: black;
}

/* box */
.box .first-section, .box .second-section {
    color: white;
    margin: -30px auto;
    overflow: hidden;
    padding-bottom: 35px;
    text-align: center;
    
}

.box .first-section h1 {
    font-size: 1.5em;
    font-family: sans-serif;
}

.second-section p:hover {
    transform: rotate(0.89deg);
    box-shadow: 0 0 15px 0 #fff;
}

.box .second-section p {
    font-family: Tahoma;
    margin: 15px auto;
    background: rgb(50,50,50,0.8);
    width: 60%;
    border-radius: 5px;
    transition: .3s ease-in-out;
    font-size: 1.2em;
    max-width: 100%;
    padding: 25px 25px 25px 25px;
}

.box .third-section {
    margin: 60px auto;
}


.box .third-section .images img:hover {
    box-shadow: 0 0 5px 0 #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    opacity: 1;
}
.box .third-section .images img {
    margin: -10px 0 0;
    height: 50px;
    opacity: .7;
    width: auto;
    transition: .3s ease-in-out;
}
.box .third-section .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
